* {
  background-color: darkgreen;
}

.backgrounf {
  max-width: 1080px;
}


img {
  width: 200px;
}


.north {
  transform: rotate(-90deg);
  transition: transform .1s;
}

.south {
  transform: rotate(90deg);
  transition: transform .1s;
}

.east {
  transform: rotate(0);
  transition: transform .1s;
}

.west {
  transform: rotate(-180deg);
  transition: transform .1s;
}
